*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
nav{
    box-shadow: 2px 2px 2px gray;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 20px ;


}


nav .second .navlink a{
    text-decoration: none;
    margin-right: 15px;
    color: #1b1a1a;

}
nav .second .navlink a:hover{
    text-decoration-line: underline;
}


.logo{
    width: 70px;
    height: 70px;
}
nav .third .container i{
    font-size: 20px;
}

nav .third .container i:hover{
color: orange
}
main{
    display: flex;
}

main .left{
    flex: 50%;
display: flex;
align-items: center;
justify-content: center;
height: 80vh;

}
main .right{
    flex: 50%;
height: 80vh;
display: flex;
justify-content: center;
align-items: center;    
}
main .left h1 span{
    color: orange;
}
main .left h2 span{
    color: orange;
}
.imm{
    width: 150px;
    
    height: 150px;
    

}
section{
    background-color: #888;
    text-align: justify;
    padding: 50px;
}
section h3{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}
article .card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
article h3{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 35px;
}
article{
    padding: 50px;
    
}

article .card{
    background-color: #f1e3e3;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    flex-direction: column;
}

article .card button {
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
    border: 0;
}
article .card button:hover{
background-color: black;
color: white;
cursor: pointer;
}
aside{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside form{
    border: 1px solid;
    background-color: lightgray;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 30px;
    align-items: center;
    padding-right: 30px;
}

label{
    padding-left: 20px;
    color: rgb(11, 26, 230);
}
input{
    width: 100%;
  margin-top: 10px;

}
textarea{
    margin-top: 10px;
}

button{
    margin: 25px;  
}
aside div form button{
 
    

    border: none;
    background-color: tomato;
    border-radius: 5px;
    margin: 40px;
    margin-left: 100px;
    padding: 5px;
color: white;
    height: 50px;
font-size: 15px;
}
aside div form button:hover{
    background-color: white;
    color: tomato;
    cursor: pointer;
    
}
.ppp{
display: flex;
width: 290px;
height: 25px;
}